@import "base/reset.css";
@import "base/variables.css";
@import "base/typography.css";

@import "layout/header.css";
@import "layout/main.css";
@import "layout/footer.css";

@import "components/buttons.css";
@import "components/cards.css";
@import "components/tables.css";
@import "components/grids.css";
@import "components/gallery.css";
@import "components/carousel.css";

@import "animations.css";
@import "responsive.css";